<section class="bg-main text-white text-center vh-100">
    <div class="container">
        <div>
            <div class="icon py-5">
                <h2>LOGO</h2>
            </div>
        </div>
        <div class="sidebar">
            <ul class="list-type">
                <li class="my-3">
                    <a class="text-decoration-none text-white" href="admin/category"><i class="fa-solid fa-layer-group"></i> Category</a>
                </li>
                <li class="my-3">
                    <a class="text-decoration-none text-white" href="admin/product"><i class="fa-brands fa-product-hunt"></i> Product</a>
                </li>
                <li class="my-3">
                    <a class="text-decoration-none text-white" href="admin/order"><i class="fa-solid fa-list"></i> Order</a>
                </li>
                <li class="my-3">
                    <a class="text-decoration-none text-white" href="admin/user"><i class="fa-solid fa-user"></i> User</a>
                </li>
            </ul>
        </div>
    </div>
</section>